<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    </head>
    <body>

        <h1> Affiche un Patronyme </h1>


        Nom : {{ id.prenom }}<br> 
        profession : {{ id.profession }}<br> 
        jour : {{ id.jour }}<br> 

    </body>
</html>
