<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <style>
        .jp_label
        {
            color: red;
            text-align: right;
            padding-right:  10px;
            width: 300px;
            display: inline-block
        }
        .jp_input
        {
            width: 300px;
        }
    </style>
    

    </head>
    <body>

        <h1> Ajouter un Patronyme </h1>

        {{ form(formulaire)  }} 



    </body>
</html>
