<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    </head>
    <body>

        <h1> LE SITE MÉTÉO </h1>

        le temp {{moment}} est changeant... 

        <br>

        Aujourd'hui nous sommes la saint {{prenom}}


    </body>
</html>
